<!--

<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" />

<link rel="icon" href="{{ site.github.url }}/assets/mallet/icon/favicon.ico?v{{ site.github.build_revision }}" sizes="any">
<link rel="icon" href="{{ site.github.url }}/assets/mallet/icon/favicon-16x16.png?v{{ site.github.build_revision }}" type="image/png" sizes="16x16">
<link rel="icon" href="{{ site.github.url }}/assets/mallet/icon/favicon-32x32.png?v{{ site.github.build_revision }}" type="image/png" sizes="32x32">
<link rel="icon" href="{{ site.github.url }}/assets/mallet/icon/android-chrome-192x192.png?v{{ site.github.build_revision }}" type="image/png" sizes="192x192">
<link rel="icon" href="{{ site.github.url }}/assets/mallet/icon/android-chrome-512x512.png?v{{ site.github.build_revision }}" type="image/png" sizes="512x512">
<link rel="apple-touch-icon" href="{{ site.github.url }}/assets/mallet/icon/apple-touch-icon.png?v{{ site.github.build_revision }}">
<link rel="manifest" href="{{ site.github.url }}/assets/mallet/icon/{{ site.manifest }}?v{{ site.github.build_revision }}">

-->